.schedule {
  &__wrapper {
    display: flex;
    flex-direction: column;

    padding: 3.125rem 3.125rem;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__search {
    background: var(--grey-light);
    margin-bottom: 1rem;
    padding: 0.5rem;

    border-radius: var(--border-radius);
    height: 3rem;

    &-input {
      height: 100%;
      background-color: #fff;
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid var(--grey-proto);
      border-radius: var(--border-radius);

      &::placeholder {
        color: #626262;
      }
    }
  }

  &__list {
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding:  1rem;
      border-bottom: 1px solid var(--grey-proto);
      
      font-weight: 700;
      font-size: 1.2rem;
    }

    &-item {
      display: flex;
      align-items: center;

      padding: 1rem;
      border-bottom: 1px solid var(--grey-proto);

      &:last-child {
        border-bottom: unset;
      }

      &-actions {
        margin-left: auto;
        display: flex;

        &--action {
          display: flex;
          align-items: center;
          justify-content: center;

          padding: 1rem;

          max-height: 1.5rem;
          max-width: 1.5rem;
      
          border-radius: var(--border-radius);
          background-color: var(--grey-light);

          margin-left: 0.5rem;

          cursor: pointer;
        }
      }
    }
  }

  &__event {
    display: flex;
    flex-direction: column;
    
    padding: 1rem;

    &-item {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      border: 1px solid #000;

      box-shadow: 0px 0px 20px 0px rgb(76, 87, 125);

      &--invalid {
        border: 1px solid red;
      }
    }
  }
}