---
import GoogleOneTap from '@/components/auth/GoogleOneTap.vue'
import { validateToken } from "@/pages/api/api";

const response: Response = await validateToken(Astro.request)
const isAuthenticated = response.status === 200
---
<div>
  { isAuthenticated 
    ? <slot /> 
    : <GoogleOneTap client:load />
  }
</div>