---
// styles
import '@/styles/main.scss';

export interface Props {
	title: string;
}

import Footer from '@/components/layout/Footer.vue'

const { title } = Astro.props;
const gtagId = import.meta.env.PUBLIC_GTAG
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <script
      type="text/partytown"
      src={`https://www.googletagmanager.com/gtag/js?id=${gtagId}`}
    >
    </script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", gtagId);
    </script>
	</head>
	<body>
		<slot />
    <Footer client:visible />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
	</body>
</html>
